.admin__caption {
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    display: flex;
}
.admin__option {
    display: flex;
    justify-content: space-between;
}
.admin__filter {
    display: flex;
}
.admin__option--btn {
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}
.admin__option--btn:hover {
    color: #8a8ae4;
    opacity: 0.7;
}
.admin__filter--text {
    font-size: 22px;
}
.admin__filter--select {
    font-size: 16px;
    margin-left: 10px;
}
.admin__txt {
    font-size: 22px;
}
.admin__img {
    height: 100px;
}
.admin__icon {
    font-size: 22px;
    cursor: pointer;
}
.admin__body {
    display: flex;
    margin-top: 10px;
}
.admin__table {
    flex: 1.5;
}
.admin__form {
    margin-left: 10px;
    flex: 1;
    display: none;
}
.admin__input {
    font-size: 20px;
}
@media (max-width: 991.5px) {
    .admin__caption {
        font-size: 28px;
    }
    .admin__filter--text {
        font-size: 20px;
    }
    .admin__filter--select {
        font-size: 14px;
    }
    .admin__option--btn {
        font-size: 18px;
    }
    .admin__txt {
        font-size: 20px;
    }
    .admin__img {
        height: 80px;
    }
    .admin__icon {
        font-size: 20px;
    }
    .admin__input {
    font-size: 18px;
}
}
@media (max-width: 767.5px) {
    .admin__body {
        flex-direction: column-reverse;
    }
    .admin__caption {
        font-size: 26px;
    }
    .admin__filter--text {
        font-size: 18px;
    }
    .admin__filter--select {
        font-size: 12px;
    }
    .admin__option--btn {
        font-size: 16px;
    }
    .admin__txt {
        font-size: 18px;
    }
    .admin__img {
        height: 60px;
    }
    .admin__icon {
        font-size: 18px;
    }
    .admin__form {
        margin-bottom: 10px;
    }
    .admin__input {
    font-size: 16px;
}
}