
/*-----STAR  -Footer--------------------------------*/

.footer-area{
	padding-top: 50px;
    padding-bottom: 0px;
    background-color: #010101a9;
    margin-top: 20px;
}



.footer-area .container{
	position: relative;
	z-index: 1;
}
.footer-area h3{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	border-bottom: 2px solid rgba(207, 166, 113, 0.5);
	margin-bottom: 10px;
}
.footer-area p{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	padding-bottom: 10px;
}

.arrow-right{
	position: relative;
}
.arrow-right::before {
    content: "\f101";
	font-family: 'FontAwesome';	
	position: absolute;
	right: 0px;
	top: 0;
	color: #fff;
	font-size: 60px;
	line-height: 60px;
}

.footer-area p a{
	font-size: 18px;
	color: #ffffff;
}
.footer-area p a:hover{
	color: #d65106;
}
.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}
.f-social li a {
    font-size: 18px;
    color: rgb(201, 77, 5);
	width: 38px;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	background: #ffffff;
	border-radius: 4px;
}

.copyright{
	position: relative;
	display: block;
	background-color: #010101;
	border-top: 1px solid rgba(207, 166, 113);
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    text-align: center;
    border-bottom: 2px solid rgba(207, 166, 113);
}
.copyright p{
    margin-top:6px;
}
.logo{
    background: url(../images/logo.png);
    position: relative;
    width: 200px;
    height: 60px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/*----------END FOOTER-----------------------*/