.navigation p{
    font-size: 15px;
    color: rgb(100, 100, 100);
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: -5px;
}
img{
    position: relative;
    width: 50px;
    height: 50px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.Myhome__icon{
    color: rgba(92, 92, 218, 0.719);
}
