@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/* Định dạng khung search */
.search{
    position: absolute;
    top: 10px;
    left: 180px;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 300px;
    height: 40px;
    background-color: #f8f9fa!important;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 2px rgb(179, 179, 179);
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #f8f9fa00;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
/* Định dạng khung search */

/* Định dạng input */
.search .input {
    position: relative;
    width: 210px;
    height:40px;
    left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f8f9fa00;
    outline: none;
    font-size: 17px
}
.clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: rgb(105, 105, 105);
    transform: rotate(45deg);
}
.clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: rgb(105, 105, 105);
    transform: rotate(315deg);
}
/* Định dạng input */

/* Tạo icon search. */
.search .icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid rgb(105, 105, 105);
    border-radius: 50%;
    transform: translate(2px,2px);
    
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 9px;
    background-color: rgb(105, 105, 105);
    border: 1px solid rgb(105, 105, 105);
    transform: translate(12px,12px) rotate(315deg);
}
/* Tạo icon search. */

/* RESPONSIVE DESKTOP */
@media (max-width: 991px) {
    /* Khung search.*/
    .search{
        top: 10px;
        left: 145px;
        width: 250px;
        height: 30px;
        box-shadow: 0 0 0 2px rgb(179, 179, 179);
    }

    /* Input */
    .search .input {
        width: 160px;
        height: 40px;
        left: 40px;
    }
    .search .input input{
        position: absolute;
        top: -5px;
        font-size: 15px
    }
    .clear{
        top: 53%;
        width: 10px;
        height: 10px;
    }

    /* Icon search*/
    .search .icon::before{
        width: 12px;
        height: 12px;
        border: 2px solid rgb(105, 105, 105);
        transform: translate(2px,-1px);
        
    }
    .search .icon::after{
        width: 1px;
        height: 7px;
        transform: translate(10px,6px) rotate(315deg);
        background-color: rgb(105, 105, 105);
        border: 1px solid rgb(105, 105, 105);
    }
}

/* RESPONSIVE MOBILE */
@media (max-width: 480px) {
    /* Khung search. */
    .search{
        top: 15px;
        left: 90px;
        width: 160px;
        height: 25px;
        box-shadow: 0 0 0 1px rgb(179, 179, 179);
    }
    
    /* Input */
    .search .input {
        width: 100px;
        height: 40px;
        left: 27px;
    }
    .search .input input{
        position: absolute;
        top: -7px;
        font-size: 10px
    }
    .clear{
        top: 53%;
        width: 10px;
        height: 10px;
    }
    .clear::before{
        height: 12px;
    }
    .clear::after{
        height: 12px;
    }

    /* Icon search. */
    .search .icon::before{
        width: 8px;
        height: 8px;
        border: 1px solid rgb(105, 105, 105);
        transform: translate(-2px,-4px);
        
    }
    .search .icon::after{
        width: 1px;
        height: 5px;
        background-color: rgb(105, 105, 105);
        border: 0px solid rgb(105, 105, 105);
        transform: translate(3px,1px) rotate(315deg);
    }
}